<body>


<div class="header">
  <h1 style="text-align: center">Angular {{ title }}</h1>
</div>
<br />

<div style="text-align: center">
  <!-- Put Training Components sample Here -->

  <!-- <app-make-function></app-make-function> -->
  <!-- <app-events></app-events> -->
  <!-- <app-property-binding></app-property-binding> -->
  <!-- <app-if-else></app-if-else> -->
  <!-- <app-switch></app-switch> -->
  <!-- <app-ng-for></app-ng-for> -->
  <!-- <app-style-binding></app-style-binding> -->

  <!-- <app-child [item]="data"></app-child>
  <button class="btn btn-primary" (click)="updateData()">Update Data</button> -->
  <h1>-------------------------------------------------------</h1>


  <!-- <app-data-binding></app-data-binding> -->
  <!-- Put Training Components sample Here -->
</div>
</body>